.btn1:hover{
    text-decoration:underline;
}
.content1{
    position: relative;
}
.content{
    position: absolute;
    top: 25rem;
    background-color: #a6a4a449;
    opacity: 0;
}
.content:hover{
    opacity: 1;
}
.side-bar{
    height: 100vh;
    overflow-y: auto;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background: #202420;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: #0D0E0D;
}
.showbtn:hover{
    text-decoration: underline;
}
